header {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    max-height: 62.2px;
}

li {
    margin: 20px;
    list-style: none;
}

li:hover {
    color: #333;
    background-color: yellowgreen;
    border-radius: 8px;
}

footer {
    background-color: grey;
    border-radius: 5px;
    margin: -35px 13px 60px;
}

.myfoot {
    padding: 5px;
    display: flex;
}

.police {
    font-family: 'Send Flowers', cursive;
}

body {
    background-color: beige;
    background-image: url(img/j.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.police {
    font-family: 'Send Flowers', cursive;
}
a {
    text-decoration: none;
    color: black;
}

.first_container {
    display: flex;
}

.close {
    display: none;
}

.hambgr { 
    display: none;
}

.item_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    margin: 0px;
}

.item_flexnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
    margin: 0px;
}
.searchnav {
    margin-bottom: 1px;
    border-radius: 200px;
    background-color: gainsboro;
}
.searchin {
    margin-right: 0px;
}
main {
    margin: 155px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    color: green;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-left: -39px;
}

.bulle_mess {
    height: 250px;
    width: 350px;
    resize: none;
    margin-left: -22px;
}

.pad_mess {
    margin: 128px;
}

.butt {
    margin-left: 93px;
}

.contact {
    border-radius: 200px;
    background-color: gainsboro;
    margin: 0px;
}

.imcont {
    flex: 1;
    margin: -47px 13px;
    
}

.all_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 3;
}

.all_item div {
    margin: 15px auto;
}




@media screen and (max-width: 1225px) {
    .hambgr { 
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        left: 15px;
        z-index: 1;
    }
    .hambgr:hover {
        background-color: greenyellow;
        border-radius: 3px;
    }

    .close {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 12px;
        left: 15px;
        z-index: 2;
        transform: translateY(-900%);
    }

    .close:hover {
        background-color: greenyellow;
        border-radius: 3px;
    }

    .item_head {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 1%;
        left: 0.5%;
        width: 200px;
        height: 40vh;
        border-radius: 5px;
        background-color: lavender;
        z-index: 2;
        transform: translateY(-200%);
    }
    .item_head li {
        margin-left: 46px;
    }

    .close.open {
        transform: initial;
    } 
    .item_head.open {
        transform: initial;
    }
}

@media screen and (max-width: 1000px) {
    .container {
    width: 30vmin;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 769px) {
   
    main {
        width: 100%;
        margin: 102px 1px;
    }   

}

@media screen and (max-width: 415px) {
    header {
        background-color: grey;
        border: 2px solid grey;
        border-radius: 5px;
        max-height: 62.2px;
        margin: -101px 8px 0px 20px;
    }
    header {
        position: fixed;
    }
    footer {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
    }
    .close {
        margin: auto;
    }
}



/**transform: rotateZ(90deg);
    align-self: center;
    flex: 1;**/